__pycache__
pythonenv*
venv
.venv
.coverage
.idea
!config/configuration.yaml
config/*
*/secrets.yaml
main.py
login.py
!.devcontainer/configuration.yaml
!.devcontainer/devcontainer.json
.devcontainer/*